
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#/forms">Forms</a></li>
                <li><a href="#/fields">Fields</a></li>
            </ul>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Form Name</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td><input class="form-control table-input" type="text" name="formName" placeholder="Form Name">
                        </td>
                        <td class="table-content-nowrap">
                            <a href="#">
                                <span class="glyphicon glyphicon-plus action-glyphicon"></span>
                            </a>
                            &nbsp;
                            <a href="#">
                                <span class="glyphicon glyphicon-ok action-glyphicon"></span>
                            </a>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Registration Form</td>
                        <td class="table-content-nowrap">
                            <a href="#">
                                <span class="glyphicon glyphicon-remove action-glyphicon"></span>
                            </a>
                            &nbsp;
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil action-glyphicon"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Contact List</td>
                        <td class="table-content-nowrap">
                            <a href="#">
                                <span class="glyphicon glyphicon-remove action-glyphicon"></span>
                            </a>
                            &nbsp;
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil action-glyphicon"></span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>To Do List</td>
                        <td class="table-content-nowrap">
                            <a href="#">
                                <span class="glyphicon glyphicon-remove action-glyphicon"></span>
                            </a>
                            &nbsp;
                            <a href="#">
                                <span class="glyphicon glyphicon-pencil action-glyphicon"></span>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
