<div ng-controller="ChatRoomController">
    <div ng-show="currentPlaylist">
        <h5>Playlist Name: {{currentPlaylist.playlistName}}</h5>
        <form action="">
            <ul id="messages" class="list-group chatblock">
                <li class="list-group-item breakword" ng-repeat="msg in allmessages track by $index">{{msg}}</li>
            </ul>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Type a message" ng-model="chatmessage"/>
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" id="m" ng-click="chatSend(chatmessage)">Send</button>
                    </span>
            </div>
        </form>
    </div>

</div>