<div class="container">
    <search-control></search-control>
    <div class="col-md-12" ng-controller="SearchController">
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Prev</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        Playlist Name
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--<tr ng-repeat="playlist in playlists.items">
                    <td>{{playlist.name}}</td>
                    <td><a href="{{playlist.owner.external_urls.spotify}}" target="_blank"> {{playlist.owner.id}}</a></td>
                    <td><button class="fa fa-play-circle btn btn-success"></button></td>
                </tr>-->
                <tr ng-repeat="playlist in playlists">
                    <td class="valign">{{playlist.title}}</td>
                    <td class="valign">{{playlist.user.username}}</td>
                    <td><button class="fa fa-2x fa-play-circle btn btn-success" ng-click="play(playlist)"></button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>