.sort-glyphicon {
    font-size: 0.75em;
}

.action-glyphicon {
    font-size: 2.0em;
}

.table-input {
    width: 75%;
    height: 30px;
}

.table-content-nowrap {
    white-space: nowrap;
}

.row {
    padding-top: 10px;
}

.label-field {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.move {
    cursor: move;
}