.myrow{
    margin: 10px;
    padding-top: 10px;
}

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    padding-top: 10px;
    background-color: black;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 100px; !important;
}
.valign {
    vertical-align: middle !important;
}
.nowrap {
    white-space: nowrap;
}
.artists {
    display: inline;
}
