<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 col-xs-12 main" ng-controller="FieldController">
    <h1 class="page-header">Forms</h1>
    <ul class="nav nav-tabs">
        <li><a href="#/forms">Forms</a></li>
        <li class="active"><a>Fields</a></li>
    </ul>
    <div class="modal fade" id="mymodal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="modalClose()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{modalTitle}}</h4>
                </div>
                <div class="modal-body">
                    <br/>
                    <label for="label">Label</label>
                    <input type="text" name="label" id="label" class="form-control" ng-model="modalLabel">
                    <br/>
                    <label ng-if='selectedField.placeholder' for="placeholder">Placeholder</label>
                    <input ng-if='selectedField.placeholder' id="placeholder" type="text" class="form-control" ng-model="$parent.modalPlaceholder">
                    <br/>
                    <label ng-if='selectedField.options' for="options">Options</label>
                    <textarea ng-if="selectedField.options" rows="5" id="options" class="form-control" ng-model="$parent.modalOptions"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="modalClose()">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="updateField()">Update Field</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="container-fluid">
        <div id="sortable">
            <div class="form-group row" ng-repeat="field in fields">
                <div class="col-md-6 col-sm-6 col-xs-9" ng-switch on="field.type">
                    <div ng-switch-when="TEXT">
                        <p class="text-left label-field">{{field.label}}</p>
                        <input type="text" class="form-control"  placeholder="{{field.placeholder}}">
                    </div>
                    <div ng-switch-when="DATE">
                        <p class="text-left label-field">{{field.label}}</p>
                        <input type="date" class="form-control" placeholder="{{field.placeholder}}">
                    </div>
                    <div ng-switch-when="EMAIL">
                        <p class="text-left label-field">{{field.label}}</p>
                        <input type="email" class="form-control" placeholder="{{field.placeholder}}">
                    </div>
                    <div ng-switch-when="TEXTAREA">
                        <p class="text-left label-field">{{field.label}}</p>
                        <textarea  class="form-control" placeholder="{{field.placeholder}}"></textarea>
                    </div>
                    <div ng-switch-when="OPTIONS">
                        <p class="text-left label-field">{{field.label}}</p>
                        <select class="form-control">
                            <option ng-repeat="option in field.options" value="{{option.value}}">{{option.label}}</option>
                        </select>
                    </div>
                    <div ng-switch-when="CHECKBOXES">
                        <p class="text-left label-field">{{field.label}}</p>
                        <div ng-repeat="option in field.options" class="nowrap">
                            <h5 class="label-field">
                                <input type="checkbox" value="{{option.value}}">
                                {{option.label}}
                            </h5>
                        </div>
                    </div>
                    <div ng-switch-when="RADIOS">
                        <p class="text-left label-field">{{field.label}}</p>
                        <span ng-repeat="o in field.options" class="nowrap">
                            <h5 class="label-field">
                                <input type="radio" name="{{field.label}}">
                                {{o.label}}
                            </h5>
                        </span>
                    </div>
                    <div ng-switch-default>
                        default
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-3 text-center">
                    <br/>
                    <a ng-click="editField(field)"><span class="glyphicon glyphicon-pencil action-glyphicon"></span></a>
                    <a href="#" class="sr-only"><span class="glyphicon glyphicon-plus action-glyphicon"></span></a>
                    <a ng-click="removeField(field)"><span class="glyphicon glyphicon-remove action-glyphicon"></span></a>
                    <a class="move"><span class="glyphicon glyphicon-align-justify action-glyphicon"></span></a>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <hr/>
        <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-9">
                <p class="text-left label-field">Add New Field:</p>
                <select class="form-control" ng-model="fieldType" ng-options="item for item in fieldTypes">
                </select>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-3 text-center">
                <br/>
                <a class="action-glyphicon" ng-click="addField(fieldType)">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
