<div class="container" ng-controller="EditPlaylistController">
        <!-- Nav tabs -->
        <h4>Editing {{playlist.playlistName}}</h4>
        <ul class="nav nav-tabs">
            <li ng-class="{active:addTab}"><a ng-click="addTabClick()">Add Songs</a></li>
            <li ng-class="{active:removeTab}"><a ng-click="removeTabClick()">Remove Songs</a></li>
        </ul>

        <!-- Tab panes -->
            <div class="tab-pane">
                <div class="col-md-12">
                    <div class="myrow"></div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for a song.." ng-model="songname" ng-disabled="removeTab">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button" ng-click="searchSong(songname)">Search</button>
                        </span>
                    </div>
                    <div id="songsAddTable">
                        <ul class="pager">
                            <li class="previous disabled"><a href="#">&larr; Prev</a></li>
                            <li class="next"><a href="#">Next &rarr;</a></li>
                        </ul>
                        <table class="table table-responsive table-striped">
                            <thead>
                            <tr>
                                <th>
                                    Song Name
                                </th>
                                <th>
                                    Artist
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="song in songs.items">
                                    <td class="col-md-4 valign">
                                        {{song.name}}
                                    </td>
                                    <td class="col-md-6 valign">
                                            <span class="artists" ng-repeat="artist in song.artists">
                                                <a href="{{artist.external_urls.spotify}}" target="_blank">{{artist.name}}</a>
                                            </span>
                                    </td>
                                    <td class="col-md-2 nowrap">
                                        <a class="fa fa-2x fa-plus-square btn btn-success" ng-show="addTab" ng-click="addSong(song)"></a>
                                        <a class="fa fa-2x fa-trash-o  btn btn-success" ng-show="removeTab" ng-click="removeSong($index)"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>