<div class="container" ng-controller="PlaylistController">
    <!--<div class="col-md-12" ng-if="!(user.soundCloud.id)">
        <h3>Connect to SoundCloud to access this feature</h3>
    </div> ng-if="user.soundCloud.id"-->
    <fieldset>
        <legend>My Playlists</legend>
        <h6>Search to Add Playlists</h6>
        <search-control></search-control>
    <div class="col-md-12">
        <ul class="pager">
            <li class="previous" ng-class="{disabled:currentPage == 0}"><a ng-click="prevPage()">&larr; Prev</a></li>
            <li class="next" ng-class="{disabled:currentPage >= numberOfPages-1}"><a ng-click="nextPage()">Next &rarr;</a></li>
        </ul>
        <table class="table table-responsive table-striped">
            <thead>
            <tr>
                <th>
                    Playlist Name
                </th>
                <th>
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="playlist in playlists | startFrom: currentPage * pageSize  | limitTo: pageSize">
                    <td class="valign">
                        <a ng-click="viewPlaylistDetails(playlist)" class="hand">{{playlist.playlistName}}</a>
                    </td>
                    <td class="nowrap">
                        <button class="fa fa-2x fa-play-circle btn btn-success" ng-click="playPlaylist(playlist)"></button>
                        &nbsp;
                        <button class="fa fa-2x fa-thumbs-down btn btn-success" ng-click="deletePlaylist(playlist)"></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </fieldset>
</div>