<div class="container">
    <search-control></search-control>
    <div class="col-md-12" ng-controller="SearchController">
    <ul class="pager">
        <li class="previous disabled"><a href="#">&larr; Prev</a></li>
        <li class="next"><a href="#">Next &rarr;</a></li>
    </ul>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>
                        Playlist Name
                    </th>
                    <th>
                        Created By
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>