<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="AdminController">
    <h1 class="page-header">Admin</h1>
    <h2 class="sub-header">Users</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="table-content-nowrap">
                    <span class="glyphicon glyphicon-triangle-top sort-glyphicon" ng-if="selectedClsAscending('username')"></span>
                    <span class="glyphicon glyphicon-triangle-bottom sort-glyphicon" ng-if="selectedClsDescending('username')">
                    </span>&nbsp;<a ng-click="changeSorting('username')">Username</a>
                </th>
                <th class="table-content-nowrap">
                    &nbsp;Password
                </th>
                <th class="table-content-nowrap">
                    <span class="glyphicon glyphicon-triangle-top sort-glyphicon" ng-if="selectedClsAscending('firstName')"></span>
                    <span class="glyphicon glyphicon-triangle-bottom sort-glyphicon" ng-if="selectedClsDescending('firstName')">
                    </span>&nbsp;<a ng-click="changeSorting('firstName')">First Name</a>
                </th>
                <th class="table-content-nowrap">
                    <span class="glyphicon glyphicon-triangle-top sort-glyphicon" ng-if="selectedClsAscending('lastName')"></span>
                    <span class="glyphicon glyphicon-triangle-bottom sort-glyphicon" ng-if="selectedClsDescending('lastName')">
                    </span>&nbsp;<a ng-click="changeSorting('lastName')">Last Name</a>
                </th>
                <th>
                    Roles
                </th>
                <th>
                    Actions
                </th>
            </tr>
            <tr>
                <td><label class="sr-only" for="usernameTable">username</label>
                    <input type="text"
                           id="usernameTable"
                           placeholder="Username"
                           class="form-control table-input"
                           ng-model="user.username"
                    />
                </td>
                <td><input type="password" placeholder="Password" class="form-control table-input" ng-model="user.password"/></td>
                <td><input type="text" placeholder="First Name" class="form-control table-input" ng-model="user.firstName"/></td>
                <td><input type="text" placeholder="Last Name" class="form-control table-input" ng-model="user.lastName"/></td>
                <td><input type="text" placeholder="Role1,Role2" class="form-control table-input" ng-model="user.roles"/></td>
                <td class="table-content-nowrap">
                    <a ng-click="addUser(user)">
                        <span class="glyphicon glyphicon-plus action-glyphicon"></span>
                    </a>
                    &nbsp;
                    <a ng-click="updateUser(user)">
                        <span class="glyphicon glyphicon-ok action-glyphicon"></span>
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in users | orderBy: sort.descending+sort.column">
                <td>{{u.username}}</td>
                <td><span class="sr-only">{{u.password}}</span></td>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
                <td><span ng-repeat="r in u.roles">{{r}}&nbsp;</span></td>
                <td class="table-content-nowrap">
                    <a ng-click="removeUser(u)">
                        <span class="glyphicon glyphicon-remove action-glyphicon"></span>
                    </a>
                    &nbsp;
                    <a ng-click="selectUser(u)">
                        <span class="glyphicon glyphicon-cog action-glyphicon"></span>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>