<div class="container" ng-controller="AdminController">
    <fieldset>
        <legend>
            Users
        </legend>
        <div class="container">
            <div class="form-group">
                <input type="search" class="form-control" placeholder="Type a username to filter records" ng-model="usernameFilter">
            </div>
            <ul class="pager">
                <li class="previous" ng-class="{disabled:currentPage == 0}"><a ng-click="prevPage()">&larr; Prev</a></li>
                <li class="next" ng-class="{disabled:currentPage >= numberOfPages-1}"><a ng-click="nextPage()">Next &rarr;</a></li>
            </ul>
            <div class="table-responsive">
            <table class="table table-condensed table-striped">
                <thead>
                <tr>
                    <th class="nowrap">
                        <span class="glyphicon glyphicon-triangle-top sort-glyphicon" ng-if="selectedClsAscending('username')"></span>
                    <span class="glyphicon glyphicon-triangle-bottom sort-glyphicon" ng-if="selectedClsDescending('username')">
                    </span>&nbsp;<a ng-click="changeSorting('username')" class="hand">Username</a>
                    </th>
                    <th class="nowrap">
                        &nbsp;Password
                    </th>
                    <th class="nowrap">
                        <span class="glyphicon glyphicon-triangle-top sort-glyphicon" ng-if="selectedClsAscending('firstName')"></span>
                    <span class="glyphicon glyphicon-triangle-bottom sort-glyphicon" ng-if="selectedClsDescending('firstName')">
                    </span>&nbsp;<a ng-click="changeSorting('firstName')" class="hand">First Name</a>
                    </th>
                    <th class="nowrap">
                        <span class="glyphicon glyphicon-triangle-top sort-glyphicon" ng-if="selectedClsAscending('lastName')"></span>
                    <span class="glyphicon glyphicon-triangle-bottom sort-glyphicon" ng-if="selectedClsDescending('lastName')">
                    </span>&nbsp;<a ng-click="changeSorting('lastName')" class="hand">Last Name</a>
                    </th>
                    <th>
                        Admin
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                <tr>
                    <td class="valign"><label class="sr-only" for="usernameTable">username</label>
                        <input type="text"
                               id="usernameTable"
                               placeholder="Username"
                               class="form-control table-input"
                               ng-model="t_user.username"
                        />
                    </td>
                    <td class="valign"><input type="password" placeholder="Password" class="form-control table-input" ng-model="t_user.password"/></td>
                    <td class="valign"><input type="text" placeholder="First Name" class="form-control table-input" ng-model="t_user.firstName"/></td>
                    <td class="valign"><input type="text" placeholder="Last Name" class="form-control table-input" ng-model="t_user.lastName"/></td>
                    <td>
                        <input type="checkbox" ng-model="t_user.isAdmin" class="form-control table-input">
                    </td>
                    <td class="table-content-nowrap nowrap">
                        <a ng-click="addUser(t_user)" class="fa fa-2x fa-plus-square btn btn-success">
                        </a>
                        &nbsp;
                        <a ng-click="updateUser(t_user)" class="fa fa-2x fa-check-square btn btn-success">
                        </a>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="u in users | orderBy: sort.descending+sort.column | filter: usernameFilter| startFrom:currentPage * pageSize | limitTo: pageSize">
                    <td class="valign col-xs-2">{{u.username}}</td>
                    <td class="valign col-xs-2"><span class="sr-only">{{u.password}}</span></td>
                    <td class="valign col-xs-2">{{u.firstName}}</td>
                    <td class="valign col-xs-2">{{u.lastName}}</td>
                    <td class="valign col-xs-2">
                        <input type="checkbox" ng-checked="u.roles.indexOf('admin')>=0" class="form-control table-input" disabled>
                    </td>
                    <td class="nowrap col-xs-2">
                        <a ng-click="removeUser(u)" class="fa fa-2x fa-trash-o  btn btn-success">
                        </a>
                        &nbsp;
                        <a ng-click="selectUser(u)" class="fa fa-2x fa-pencil-square-o btn btn-success">
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </fieldset>
</div>