<div class="container" ng-controller="HeaderController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MusicSocial</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
            <li ng-if="!(loggedIn)" ng-class="{'active':$location.url()== '/'}"><a href="#">Home</a></li>
            <li ng-if="!(loggedIn)" ng-class="{'active':$location.url()== '/login'}"><a href="#/login">Login/Register</a></li>
            <li ng-if="loggedIn" ng-class="{'active':$location.url().indexOf('/profile') > 0}"><a href="#/profile/{{user.username}}">Profile</a></li>
            <li ng-if="loggedIn" ng-class="{'active':$location.url().indexOf('/playlist') > 0}"><a href="#/playlist/{{user.username}}">My Playlists</a></li>
            <li ng-if="loggedIn"><a ng-click="logout()">Logout</a></li>
        </ul>
    </div>
</div>